//
// user.scss
// Use this to write your custom SCSS
//

.rounded-xl{
  border-radius: 20px
}
.modal-dialog-vertical{
  max-width: 100%;
}
.text-soft-success{
  color: #3EF3D4
}
.text-lilac{
  color: #a7b6ff
}
.bg-violet{
  background-color: #5029AB
}
.bg-malbec{
  background-color: #120220;
}
.bg-soft-success{
  background-color: #3EF3D4
}
.bg-orange{
  background-color: #ffcb32
}
.btn-white-opacity{
  width: 88px!important;
  height: 88px!important;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 1024px) {
  .w-lg-60{width: 60%};
  .w-lg-40{width: 40%}
}
@media (max-width: 768px) {
  .modal-dialog-vertical{
    max-width: 350px;
  }
}
