<!-- IDEA: modal depositMoney -->
<div class="modal fade fixed-right" id="onboarding-0" tabindex="-1" role="dialog" aria-labelledby="onboarding-0" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content bg-violet">
      <div class="modal-body p-lg-0">
        <div class="d-inline-block w-lg-60">
          <button class="btn btn-link text-white position-absolute mt-n4 ml-n4 ml-lg-0 mt-lg-0" type="button" name="button" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-arrow-left h2"></i>
          </button>
          <div class="row justify-content-center">
            <div class="col col-lg-8 py-4">
              <!-- Header -->
              <div class="row justify-content-center">
                <div class="col-12 text-center">

                  <!-- Pretitle -->
                  <h6 class="mb-4 text-uppercase text-lilac">
                    Step 1 of 2
                  </h6>

                  <!-- Title -->
                  <h1 class="mb-3">
                    Let’s start with the basics
                  </h1>

                  <!-- Subtitle -->
                  <p class="mb-5 text-lilac">
                    The simplest way to access PoolTogether is to create a wallet with Argent wallet. Learn why in our <a class="text-white" href="#faq">FAQ</a>.
                  </p>

                </div>
              </div> <!-- / .row -->

              <div class="avatar avatar-lg d-block mx-auto mb-4">
                <img src="assets/img/argent-animated-logo.gif" class="avatar-img rounded-circle" alt="Argent logo">
              </div>
              <p class="text-lilac text-center small">Download the app</p>
              <div class="row no-gutters align-items-center justify-content-center mx-n3 mb-5">
                <div class="col-auto col-lg-auto mb-lg-0">
                  <a href="https://apps.apple.com/us/app/argent/id1358741926" target="_blank">
                    <img class="lift d-none d-lg-block" src="assets/img/btn_app-store.svg" alt="" height="48">
                    <img class="lift d-block d-lg-none mx-auto" src="assets/img/btn_app-store.svg" alt="" height="40">
                  </a>
                </div>
                <div class="col-auto col-lg-auto pl-2 pl-lg-3">
                  <a href="https://play.google.com/store/apps/details?id=im.argent.contractwalletclient" target="_blank">
                    <img class="lift d-none d-lg-block" src="assets/img/btn_play-store.svg" alt="" height="48">
                    <img class="lift d-block d-lg-none mx-auto" src="assets/img/btn_play-store.svg" alt="" height="40">
                  </a>
                </div>
              </div>
              <div class="list-group list-group-flush d-block d-lg-none">
                <div class="list-group-item border-0">
                  <div class="row">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <div class="avatar-title font-size-lg rounded-circle text-white">
                          <i class="fe fe-shield"></i>
                        </div>
                      </div>

                    </div>
                    <div class="col ml-n2">

                      <!-- Heading -->
                      <p class="mb-0 text-white">
                        PoolTogether exists on the <a class="text-decoration-underline text-white" href="https://ethereum.org/" target="_blank">Ethereum blockchain</a>, which uses similar technology to Bitcoin to guarantee that ownership and control of your tickets rest with you. To interact with the Ethereum blockchain, you need a wallet like Argent.
                      </p>

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="list-group-item border-0">
                  <div class="row">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <div class="avatar-title font-size-lg rounded-circle text-white">
                          <i class="fe fe-smartphone"></i>
                        </div>
                      </div>

                    </div>
                    <div class="col ml-n2">

                      <!-- Heading -->
                      <p class="mb-0 text-white">
                        Transactions related to your PoolTogether tickets purchased on Ethereum cost “gas”, which are micro amounts of Ethereum’s native cryptocurrency (Ether). Since most new users do not have Ether already, we strongly invite you to use <a class="text-decoration-underline text-white" href="http://argent.xyz/" target="_blank">Argent wallet</a> that will cover your cost of gas while using PoolTogether. (Using other <a class="text-decoration-underline text-white" href="https://ethereum.org/wallets/" target="_blank">Ethereum wallets</a> may require you to pay for gas costs yourselves).
                      </p>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>

              <!-- Divider -->
              <hr class="my-5">

              <!-- Footer -->
              <div class="row align-items-center mb-6">
                <div class="col-auto">

                  <!-- Button -->
                  <button class="btn btn-lg btn-white" type="button" name="button" data-dismiss="modal" aria-label="Close">Cancel</button>

                </div>
                <div class="col text-center">

                  <!-- Step -->
                  <h6 class="text-uppercase text-lilac mb-0 d-none d-lg-block">Step 1 of 2</h6>

                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <a class="btn btn-lg bg-soft-success text-dark" href="#" data-toggle="modal" data-target="#onboarding-1">Done</a>

                </div>
              </div>
              <h2 id="faq">Frequently Asked Questions</h2>
              <div class="card card-inactive mb-6">
                <div class="card-body">
                  <h3>What does blockchain technology mean?</h3>
                  <p class="text-lilac mb-4">PoolTogether exists on the <a class="text-white" href="https://ethereum.org/" target="_blank">Ethereum blockchain</a>, which uses similar technology to Bitcoin to guarantee that ownership and control of your tickets rest with you.</p>
                  <h3>Why the Ethereum blockchain?</h3>
                  <p class="text-lilac mb-4">Ethereum is a general-purpose blockchain with smart contracts that enable programmable tokens, like Pool DAI (plDAI), which represents your DAI holdings in PoolTogether.</p>
                  <h3>How is this built?</h3>
                  <p class="text-lilac">On Ethereum, PoolTogether is run by a suite of smart contracts that manage balances, tickets purchase, and distribution of prizes. The smart contracts also leverage existing parts of the Ethereum ecosystem, such as ERC-20 token standards and lending protocols like <a class="text-white" href="https://compound.finance/" target="_blank">Compound</a>.</p>
                  <p class="text-lilac mb-4">PoolTogether smart contracts are audited and secured by <a class="text-white" href="https://www.pooltogether.com/audits">QuantStamp & Open Zeppelin</a>.</p>
                  <h3>What is gas, and who’s paying for it?</h3>
                  <p class="text-lilac mb-4">Transactions related to your PoolTogether tickets purchased on Ethereum cost “gas”, which are micro amounts of Ethereum’s native cryptocurrency (Ether). Since most new users do not have Ether already, we strongly invite you to use <a class="text-white" href="http://argent.xyz/" target="_blank">Argent wallet</a> that will cover your cost of gas while using PoolTogether. (Using other <a class="text-white" href="https://ethereum.org/wallets/" target="_blank">Ethereum wallets</a> may require you to pay for gas costs yourselves).</p>
                  <h3>What is "DAI" or "USDC" stablecoin?</h3>
                  <p class="text-lilac mb-4">Dai or USDC is the name of the cryptocurrency you use to join a “Pool” on PoolTogether. The important thing to know about them is that they're pegged to the value of the US Dollar. So 1 Dai = 1 US Dollar. You may have heard about “Bitcoin” and how the price changes a lot. DAI and USDC are designed to be the exact opposite. The price is designed to always equal 1 US Dollar. The price does sometimes change by a penny or two but for practical purposes just assume 1 Dai = 1 Digital US Dollar.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-lg-inline-block w-lg-40 position-fixed d-none">
          <div class="bg-white vh-100 p-4">
            <div class="row justify-content-center">
              <div class="col-10">
                <h2 class="text-dark">On the blockchain</h2>
                <div class="list-group list-group-flush">
                  <div class="list-group-item border-0">
                    <div class="row">
                      <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                          <div class="avatar-title font-size-lg rounded-circle text-white">
                            <i class="fe fe-shield"></i>
                          </div>
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <p class="mb-0 text-secondary">
                          PoolTogether exists on the <a href="https://ethereum.org/" target="_blank">Ethereum blockchain</a>, which uses similar technology to Bitcoin to guarantee that ownership and control of your tickets rest with you. To interact with the Ethereum blockchain, you need a wallet like Argent.
                        </p>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                          <div class="avatar-title font-size-lg rounded-circle text-white">
                            <i class="fe fe-smartphone"></i>
                          </div>
                        </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <p class="mb-0 text-secondary">
                          Transactions related to your PoolTogether tickets purchased on Ethereum cost “gas”, which are micro amounts of Ethereum’s native cryptocurrency (Ether). Since most new users do not have Ether already, we strongly invite you to use <a href="http://argent.xyz/" target="_blank">Argent wallet</a> that will cover your cost of gas while using PoolTogether. (Using other <a href="https://ethereum.org/wallets/" target="_blank">Ethereum wallets</a> may require you to pay for gas costs yourselves).
                        </p>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
