<!-- IDEA: modal video -->
<div class="modal fade fixed-right" id="video" tabindex="-1" role="dialog" aria-labelledby="video" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <div class="modal-content bg-violet">
      <div class="modal-body p-0 m-0">
        <button type="button" class="btn btn-white btn-lg btn-rounded-circle text-dark position-absolute m-2" data-dismiss="modal" aria-label="Close">
          <span class="fe fe-x text-white" aria-hidden="true"></span>
        </button>
        <iframe class="border-0" width="100%" height="100%" src=""></iframe>
      </div>
    </div>
  </div>
</div><!-- / modal -->
